/* Footer */
.footer {
  padding: 5rem 10rem;
  background: linear-gradient(to right, #000, #7b3d11);
}

.footer .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8rem;
  margin-bottom: 4rem;
  border-bottom: 2px solid gray;
}

.footer .header h3 {
  color: #fff;
  font-size: 4rem;
}

.footer .header p {
  width: 60%;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer .mailingList {
}

.footer .mailingList form {
}

.footer .mailingList form input {
  border: none;
  padding: 1.5rem;
  width: 60%;
  border-radius: 3rem;
}

.footer .mailingList form button {
  background-color: var(--color-brand--1);
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  margin-left: 1rem;
}

.footer .mailingList h4 {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}

.footerMain {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #fff;
  font-size: 1.6rem;

  overflow: hidden;
}

.footerMain * {
  flex-basis: 20%;
}

.footerMain > *:not(:last-child) {
}

.footerMain > *:not(:first-child) {
  list-style-type: none;
}

.footerMain > *:not(:first-child) :first-child {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.footerAbout {
  flex-basis: 20%;
}

.footerAbout h4 {
  font-size: 3rem;
}

.footerMain .events {
}

.footerMain .quickLinks {
}

.footerMain .contactUs {
}

.copyright {
  margin-top: 6rem;
}

/* RWD */
@media screen and (max-width: 1100px) {
  .footer {
    padding: 2rem 4rem;
  }

  .footer .header .p {
    width: 100%;
  }

  .aside {
    width: 40%;
  }

  .mailingList {
    width: 50%;
    margin-left: auto;
  }
}

@media screen and (max-width: 900px) {
  .footer .header {
    display: block;
  }

  .aside {
    width: 100%;
    display: block;
    margin-bottom: 4rem;
  }

  .aside h3 {
    font-size: 3rem;
  }

  .aside p {
  }

  .mailingList {
    display: block;
    width: 80%;
    margin: auto;
  }

  .footerMain {
    flex-wrap: wrap;
  }

  .footerAbout {
    flex-basis: 100%;
    margin-bottom: 2rem;
  }
}
