/* Footer */
.footer {
  padding: 5rem 15rem;
  background: linear-gradient(to right, #000, #7b3d11);
}

.footer .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8rem;
  margin-bottom: 4rem;
  border-bottom: 2px solid gray;
}

.footer .header h3 {
  color: #fff;
  font-size: 4rem;
}

.footer .header p {
  width: 60%;
  font-size: 1.6rem;
  font-weight: 600;
}

.footer .mailingList {
}

.footer .mailingList form {
}

.footer .mailingList form input {
  border: none;
  padding: 1.5rem;
  width: 300px;
  border-radius: 3rem;
}

.footer .mailingList form button {
  background-color: var(--color-brand--1);
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  margin-left: 1rem;
}

.footer .mailingList h4 {
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
}

.footerMain {
  display: flex;
  align-items: flex-start;
  color: #fff;
  font-size: 1.6rem;
}

.footerMain > *:not(:last-child) {
  margin-right: 20rem;
}

.footerMain > *:not(:first-child) {
  list-style-type: none;
}

.footerMain > *:not(:first-child) :first-child {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.footerAbout {
  flex-basis: 20%;
}

.footerAbout h4 {
  font-size: 3rem;
}

.footerMain .events {
}

.footerMain .quickLinks {
}

.footerMain .contactUs {
}

.copyright {
  margin-top: 6rem;
}
