.header {
  background-color: var(--color-brand--1);
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.5)),
    url("/public/images/pexels-freestockpro-1008155.jpg");

  background-size: cover;
  background-position: center;
}

/* top nav */
.nav {
  width: 80%;
  height: 10vh;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav nav {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;

  align-self: stretch;
}

.nav nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.nav nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

.nav nav a:link,
.nav nav a:visited {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px solid none;

  transition: all 0.3s;
}

.nav nav a:hover,
.nav nav a:active {
  display: block;
  border-bottom: 2px solid var(--color-brand--1);
}

.otherNav li:last-of-type {
  background-color: var(--color-brand--1);
  padding: 0.5rem 3rem;
  border-radius: 40px;
}

.otherNav li:last-of-type a {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

/* main headersection */
.header .main {
  width: 60%;
  height: 90vh;
  text-align: center;
  margin: auto;
  padding-top: 20rem;
}

.main h2 {
  text-align: center;
  font-size: 6rem;
}

.main p {
  font-size: 2rem;
  margin-bottom: 10rem;
}

/* short services */
.service {
  display: flex;
  gap: 2rem;
  font-size: 1.6rem;
  justify-content: center;
}

.service * {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service * span:first-of-type {
  color: var(--color-brand--1);
  font-weight: 700;
}

.service .iconContainer {
  background-color: var(--color-brand--1);
  padding: 1rem;
  border-radius: 50%;
}

.service .serviceIcon {
  width: 2rem;
  height: 2rem;
  color: #fff;
}

.service * span:nth-last-of-type(1) {
  font-weight: 500;
  color: #fff;
}

.firstService {
}

.secondService {
}
