/* main section */

.main {
  width: 70%;
  margin: auto;
  padding-top: 10rem;
  margin-bottom: 6rem;
}

.main .about {
  width: 70%;
  margin: auto;
  display: flex;
  font-size: 1.4rem;
  margin-bottom: 10rem;
}

.about .imgContainer {
  flex-basis: 55%;
  margin-right: 4rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

.about .aboutDetails {
  flex-basis: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}

/* AboutDetails */
.aboutDetails h2 {
  color: #000;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.aboutDetails h3 {
  color: #000;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.aboutDetails p {
  font-weight: 500;
  margin-bottom: 2rem;
}

.aboutDetails button {
  margin-bottom: 6rem;
  border: none;
  background-color: transparent;
  font: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  color: var(--color-brand--1);
  cursor: pointer;
}

.aboutStats {
  display: flex;
  justify-content: space-between;
}

.statOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.statOption span:first-of-type {
  font-size: 3rem;
  color: var(--color-brand--1);
  font-weight: 700;
}

/* Popular Destinations */
.popularDest {
  margin-bottom: 10rem;
}

.popularDest h2 {
  color: #000;
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -1px;
}

.popularDest p {
  color: #000;
  font-size: 1.4rem;
  width: 50%;
  margin-bottom: 4rem;
}

.destinationWrapper {
  display: flex;
  justify-content: space-between;
}

.destination {
  flex-basis: 24%;
}

.destination .imgContainer {
  border-radius: 30px;
  overflow: hidden;
  width: 100%rem;
  height: 30rem;
  object-fit: cover;
  margin-bottom: 2rem;
}

.imgContainer img {
  width: 100%;
  height: 100%;
}
.destinationDetails {
}

.destinationDetails span {
  color: #000;
  font-size: 1.6rem;
}

/* offers section */
.offers {
  margin-bottom: 8rem;
  display: flex;
  justify-content: space-between;
}

.offers * {
  flex-basis: 45%;
}

.offerSect1 h3 {
  color: #000;
  font-weight: 400;
  font-size: 2.4rem;
}

.offerSect1 p {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.offerSect1 button {
  border: none;
  color: aliceblue;
  outline: transparent;
  font-family: inherit;
  padding: 1rem 3rem;
  border-radius: 20px;
  background-color: var(--color-brand--1);
  font-weight: 500;
  font-size: 1.6rem;
}

.offerSect2 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 4rem;
  justify-content: space-between;
}

.offerSect2 * {
  flex-basis: 47%;
}

.iconWrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 2px solid var(--color-brand--1);
  margin-bottom: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.iconWrapper .icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-brand--1);
}

.offerSect2 .offerContainer {
}

.offerSect2 h4 {
  font-size: 1.8rem;
  color: #000;
  font-weight: 500;
}

.offerSect2 p {
  font-size: 1.4rem;
  font-weight: 500;
}

/* Travel Packages */

.travelPackages {
  padding: 2rem 4rem;
  background: linear-gradient(
    to right,
    rgba(65, 38, 20, 0.9),
    rgba(173, 87, 26, 0.9)
  );

  margin-bottom: 10rem;
}

.travelPackages header {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.travelPackages header div {
  flex-basis: 1;
}

.travelPackages header nav {
  font-size: 1.6rem;
  flex-basis: 50%;
  margin-left: auto;
}

.travelPackages header h3 {
  font-size: 2rem;
  color: #fff;
}

.travelPackages header p {
  color: #fff;
  font-size: 1.4rem;
  padding-right: 10rem;
}

.travelPackages header nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.travelPackages header nav ul li {
  background-color: transparent;
  padding: 1rem 2rem;
  color: var(--color-brand--1);
  border: 2px solid var(--color-brand--1);
  border-radius: 25px;
}

.travelPackages header nav ul li:first-of-type {
  color: #fff;
  background-color: var(--color-brand--1);
}

.travelPackages header nav ul li:not(:last-of-type) {
  margin-right: 2rem;
}

.travelPackages header nav ul li a {
  text-decoration: none;
  font-weight: 500;
  color: inherit;
}

.travelPackages main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.packageWrapper {
  flex-basis: 23%;
}

.travelPackages .imgContainer {
  /* width: 30rem;
  height: 30rem; */
  height: 25rem;
  margin-bottom: 2rem;
  object-fit: cover;

  border-radius: 20px;
  overflow: hidden;
}

.travelPackages .imgContainer img {
  width: 100%;
  height: 100%;
}

.packageWrapper .packageWrapperText {
}

.packageWrapper .packageWrapperText .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  font-size: 1.4rem;
}

.packageWrapperText .rating {
  margin-left: auto;
  font-weight: 600;
  font-size: 1.8rem;
}

.packageWrapper .packageWrapperText .header h4 {
  font-size: 2rem;
  flex-basis: 50%;
}

.packageWrapper .packageWrapperText p {
  color: #fff;
  font-size: 1.4rem;
}

.header {
}

/* Testimony */
.testimony {
  margin-bottom: 8rem;
}

.testimony header {
  width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 4rem;
}

.testimony header h2 {
  color: #000;
  font-size: 3rem;
  font-weight: 500;
}

.testimony .imgContainer {
  width: 20rem;
  height: 20rem;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
  object-fit: cover;
}

.testimony .imgContainer img {
}

.testimony footer {
  width: 30%;
  margin: auto;
  text-align: center;
  color: #000;
  font-weight: 500;
}

.testimony p {
  width: 30%;
  color: #000000b2;
  margin: auto;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
}

.testimony footer h3 {
  font-size: 2rem;
  font-style: italic;
}

.testimony footer span {
  font-size: 1.4rem;
}

/* Blog Section */
.blog {
  color: #000;
  width: 80%;
  margin: auto;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blogAside {
  flex-basis: 40%;
}

.blogAside h3 {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.blogAside button {
  margin-bottom: 6rem;
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 30px;
  font: inherit;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: var(--color-brand--1);
  cursor: pointer;
}

.blogPost {
  flex: 0 1 55%;
}

.blogContainer {
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.blogContainer img {
  width: 100%;
  height: 100%;
}

.blogContainer .imgContainer {
  flex-basis: 120px;
  border-radius: 10px;
  height: 100px;
  object-fit: cover;
  overflow: hidden;
}

.blogContent {
  display: flex;
  align-self: stretch;
  flex-direction: column;

  justify-content: space-between;
  flex-basis: 65%;
}

.blogContent :not(:last-of-type) {
  margin-bottom: 2rem;
}

.blogContent h4 {
  font-size: 1.6rem;
  line-height: -10rem;
}
.blogFooter {
  display: flex;
  justify-content: space-between;
}
